%div.flex
  %div.main-impressum
    %h2 The Not-So-Fun Stuff:
    %p Erinn Springer
    %p Silbersteinstr. 147
    %p 12051 Berlin, Germany
    %br
    %p BIC: NTSBDEB1XXX
    %p IBAN: DE27100110012623066344
