%div.flex.row
  %div.photo

%div.flex.row
  .main-header
    %h1.name-header Erinn Springer
    %h2.career-header fullstack web developer
%div.main-content
  %p I'm a fullstack developer based in Berlin but also have copywriting, marketing, user interface and web design experience.
  %p My unique skillsets have allowed me to live as a nomad, teach web development to Masters students at Kellogg University, and learn coding, web design and business skills by some of Chicago's best at #{link_to 'The Starter School', 'http://www.starterschool.com/'}.

  %p Need help with a project idea or a fullstack developer? You can email me at #{mail_to 'erinnlspringer@gmail.com', 'erinnlspringer@gmail.com', subject: "Hi Erinn!"}.


  %h4.interests Things I'm Interested In
  %p Besides building things online and traveling, I really enjoy working with glass, making things with paper, writing letters and stitching fibres together. Also, I'm currently enrolled in Deutsche class.
  %p In March 2017, I'll be attending the #{link_to 'Internet Freedom Festival', 'https://internetfreedomfestival.org/'} in Valencia.
